<h1>Dare To Be Lean landing page</h1>




<style>
.link,
.link a,
.signupframe
{
	color: #226699;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	}
	.link,
	.link a {
		text-decoration: none;
		}
	.signupframe {
		border: 1px solid #000000;
		background: #ffffff;
		}
.signupframe .required {
	font-size: 10px;
	}
</style>


<!--Email only signup-->
<form method="post" action="https://app.icontact.com/icp/signup.php" name="icpsignup" id="icpsignup4582" accept-charset="UTF-8" onsubmit="return verifyRequired4582();" >
<input type="hidden" name="redirect" value="http://www.icontact.com/www/signup/thanks.html">
<input type="hidden" name="errorredirect" value="http://www.icontact.com/www/signup/error.html">

<div id="SignUp">
<table width="260" class="signupframe" border="0" cellspacing="0" cellpadding="5">
	<tr>
      <td valign="top" align="right">
        <span class="required">*</span> Email
      </td>
      <td align="left">
        <input type="text" name="fields_email">
      </td>
    </tr>
    <input type="hidden" name="listid" value="48291">
    <input type="hidden" name="specialid:48291" value="S0QU">

    <input type="hidden" name="clientid" value="1114384">
    <input type="hidden" name="formid" value="4582">
    <input type="hidden" name="reallistid" value="1">
    <input type="hidden" name="doubleopt" value="1">
    <tr>
      <td> </td>
      <td><span class="required">*</span> = Required Field</td>
    </tr>
    <tr>
      <td> </td>
      <td><input type="submit" name="Submit" value="Submit"></td>
    </tr>
    </table>
</div>
</form>
<script type="text/javascript">

var icpForm4582 = document.getElementById('icpsignup4582');

if (document.location.protocol === "https:")

	icpForm4582.action = "https://app.icontact.com/icp/signup.php";
function verifyRequired4582() {
  if (icpForm4582["fields_email"].value == "") {
    icpForm4582["fields_email"].focus();
    alert("The Email field is required.");
    return false;
  }


return true;
}
</script>

<!--Startup Idea signup-->
<h1>Or tell us more now!</h1>
<form method="post" action="https://app.icontact.com/icp/signup.php" name="icpsignup" id="icpsignup4620" accept-charset="UTF-8" onsubmit="return verifyRequired4620();" >
<input type="hidden" name="redirect" value="http://www.icontact.com/www/signup/thanks.html">
<input type="hidden" name="errorredirect" value="http://www.icontact.com/www/signup/error.html">

<div id="SignUp">
<table width="260" class="signupframe" border="0" cellspacing="0" cellpadding="5">
	<tr>
      <td valign="top" align="right">
        <span class="required">*</span> Email
      </td>
      <td align="left">
        <input type="text" name="fields_email">
      </td>
    </tr>
	<tr>
      <td valign="top" align="right">
        <span class="required">*</span> First Name
      </td>
      <td align="left">
        <input type="text" name="fields_fname">
      </td>
    </tr>
	<tr>
      <td valign="top" align="right">
        <span class="required">*</span> Last Name
      </td>
      <td align="left">
        <input type="text" name="fields_lname">
      </td>
    </tr>
	<tr>
      <td valign="top" align="right">
         Phone
      </td>
      <td align="left">
        <input type="text" name="fields_phone">
      </td>
    </tr>
	<tr>
      <td valign="top" align="right">
         Business
      </td>
      <td align="left">
        <input type="text" name="fields_business">
      </td>
    </tr>
	<tr>
      <td valign="top" align="right">
         Comments/Suggestions
      </td>
      <td align="left">
        <input type="text" name="fields_comments">
      </td>
    </tr>
	<tr>
      <td valign="top" align="right">
         Your Awesome Startup Idea
      </td>
      <td align="left">
        <input type="text" name="fields_startupidea">
      </td>
    </tr>
	<tr>
      <td valign="top" align="right">
         Are you considering attending?
      </td>
      <td align="left">
        <input type="checkbox" id="fields_potentialattendee" name="fields_potentialattendee"> <label for="fields_potentialattendee"></label>
      </td>
    </tr>
    <input type="hidden" name="listid" value="48292">
    <input type="hidden" name="specialid:48292" value="68I6">

    <input type="hidden" name="clientid" value="1114384">
    <input type="hidden" name="formid" value="4620">
    <input type="hidden" name="reallistid" value="1">
    <input type="hidden" name="doubleopt" value="1">
    <tr>
      <td> </td>
      <td><span class="required">*</span> = Required Field</td>
    </tr>
    <tr>
      <td> </td>
      <td><input type="submit" name="Submit" value="Submit"></td>
    </tr>
    </table>
</div>
</form>
<script type="text/javascript">

var icpForm4620 = document.getElementById('icpsignup4620');

if (document.location.protocol === "https:")

	icpForm4620.action = "https://app.icontact.com/icp/signup.php";
function verifyRequired4620() {
  if (icpForm4620["fields_email"].value == "") {
    icpForm4620["fields_email"].focus();
    alert("The Email field is required.");
    return false;
  }
  if (icpForm4620["fields_fname"].value == "") {
    icpForm4620["fields_fname"].focus();
    alert("The First Name field is required.");
    return false;
  }
  if (icpForm4620["fields_lname"].value == "") {
    icpForm4620["fields_lname"].focus();
    alert("The Last Name field is required.");
    return false;
  }


return true;
}
</script>